body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #393c73;
    background-image: url("images/bg-dark.jpg");
    background-size: cover;
    background-position: center;
}

.header {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: bisque;
    background-image: url("images/header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 70px;
    margin-inline: auto;
    padding: 4px;
    border-radius: 10px;
    border: 2px solid #4545ba;
}

.encapsule {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Ancho del botón */
    height: 300px; /* Altura del botón */
    background-color: white;
    border-radius: 100%;
    border: 0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    position: relative; /* Añadir posición relativa para usar como referencia */
    overflow: hidden; /* Ocultar el desbordamiento para asegurar que no haya partes visibles del GIF fuera del botón */
}

#micIcon {
    position: absolute; /* Añadir posición absoluta para alinear correctamente */
    top: 0;
    left: 0;
    width: 100%; /* Utilizar el 100% del ancho del botón */
    height: 100%; /* Utilizar el 100% de la altura del botón */
    display: flex;
    justify-content: center;
    align-items: center;
}



#micIcon .gif {
    width: 1%; /* Tamaño del GIF (50% del contenedor micIcon) */
    height: auto; /* Ajustar la altura automáticamente */
    object-fit: contain; /* Ajustar el comportamiento de relleno del GIF */
    position: absolute; /* Añadir posición absoluta para alinear correctamente */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon:active {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
}

.icon:hover {
    background-color: lightgray;
}

img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

#text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-inline: 15%;
    border-radius: 5px;
    background-color: white;
    height: fit-content;
}

#RF-space, #RNF-space {
    font-size: xx-large;
    width: 50%; /* Ancho de los espacios de requisitos en pantalla grande */
    height: min(320px);
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/static/images/RF.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#RF-space {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/static/images/RF.jpg');
}

#RNF-space {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/static/images/RNF.jpg');
}

#data1Display, #data2Display {
    text-align: center;
}

#RF-list, #RNF-list {
    list-style-type: none;
    padding-inline: 0;
    font-size: medium;
    margin-inline: 10px;
    padding: 4px;
    border-radius: 5px;
}

.RF, .RNF {
    list-style-type: none;
    padding-inline: 0;
    font-size: medium;
    margin-inline: 10px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 5px;
}

.RF {
    background-color: brown;
}

.RNF {
    background-color: cadetblue;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: rgb(42, 165, 58);
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 70%;
}

.requirements-list {
    display: flex;
    flex-wrap: wrap;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup li {
    margin-bottom: 10px;
}

.popup button {
    margin-left: 5px;
    border-radius: 5px;
}

.requirements-list button {
    flex: 1 0 50%;
}

.edit-field {
    width: 100%;
    height: 100px; /* Ajusta este valor para cambiar la altura del campo de texto */
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#export-Button {
    margin: auto auto 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    width: fit-content;
    color: white;
    border: none;
    cursor: pointer;
}
#export-Button button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .encapsule {
        flex-direction: column;
        margin: 50px;
    }

    .icon {
        width: 300px; /* Ajusta este valor para cambiar el tamaño del micrófono en pantallas pequeñas */
        height: 300px; /* Ajusta este valor para cambiar el tamaño del micrófono en pantallas pequeñas */
        margin-top: 30px;
    }

    #text-box {
        margin-inline: 5%;
    }





    .popup {
        width: 80%;
    }

    .edit-field {
        height: 150px; /* Ajusta este valor para cambiar la altura del campo de texto en pantallas pequeñas */
    }
}

@media (orientation: portrait) {
    .icon {
        width: 400px; /* Ajusta este valor para cambiar el tamaño del micrófono en orientación vertical */
        height: 400px; /* Ajusta este valor para cambiar el tamaño del micrófono en orientación vertical */
    }

    #text-box {
        display: grid;
        grid-template-columns: 1fr;
    }

    #RF-space, #RNF-space {
        width: 100%; /* Ancho de los espacios de requisitos en orientación vertical */
        min-height: 20vh;
    }

    .edit-field {
        height: 150px; /* Ajusta este valor para cambiar la altura del campo de texto en orientación vertical */
    }

    #export-Button {
        display: block;
        margin-top: auto;
    }
}
