body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cadetblue;
}

.header {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: bisque;
    width: fit-content;
    margin-inline: auto;
    padding: 4px;
    border-radius: 5px;
}

.encapsule {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Tamaño del micrófono en pantalla grande */
    height: 300px; /* Tamaño del micrófono en pantalla grande */
    background-color: white;
    border-radius: 100%;
    border: 0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.icon:active {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
}

.icon:hover {
    background-color: lightgray;
}

img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

#text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-inline: 20%;
    border-radius: 5px;
    background-color: white;
    height: fit-content;
}

#RF-space, #RNF-space {
    font-size: xx-large;
    width: 50%; /* Ancho de los espacios de requisitos en pantalla grande */
    height: min(320px);
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/static/images/RF.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#RF-space {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/static/images/RF.jpg');
}

#RNF-space {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('/static/images/RNF.jpg');
}

#data1Display, #data2Display {
    text-align: center;
}

#RF-list, #RNF-list {
    list-style-type: none;
    padding-inline: 0;
    font-size: medium;
    margin-inline: 10px;
    padding: 4px;
    border-radius: 5px;
}

.RF, .RNF {
    list-style-type: none;
    padding-inline: 0;
    font-size: medium;
    margin-inline: 10px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 5px;
}

.RF {
    background-color: brown;
}

.RNF {
    background-color: cadetblue;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: rgb(42, 165, 58);
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 70%;
}

.requirements-list {
    display: flex;
    flex-wrap: wrap;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup li {
    margin-bottom: 10px;
}

.popup button {
    margin-left: 5px;
    border-radius: 5px;
}

.requirements-list button {
    flex: 1 0 50%;
}

.edit-field {
    width: 100%;
    height: 100px; /* Ajusta este valor para cambiar la altura del campo de texto */
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .encapsule {
        flex-direction: column;
        margin: 50px;
    }

    .icon {
        width: 400px; /* Ajusta este valor para cambiar el tamaño del micrófono en pantallas pequeñas */
        height: 400px; /* Ajusta este valor para cambiar el tamaño del micrófono en pantallas pequeñas */
        margin-top: 50px;
    }

    #text-box {
        margin-inline: 5%;
    }

    #RF-space, #RNF-space {
        width: 100%; /* Ancho de los espacios de requisitos en pantallas pequeñas */
        height: auto;
        background-size: contain;
    }

    img {
        width: 100%;
        height: auto;
    }

    .popup {
        width: 80%;
    }

    .edit-field {
        height: 150px; /* Ajusta este valor para cambiar la altura del campo de texto en pantallas pequeñas */
    }
}

@media (orientation: portrait) {
    .icon {
        width: 450px; /* Ajusta este valor para cambiar el tamaño del micrófono en orientación vertical */
        height: 450px; /* Ajusta este valor para cambiar el tamaño del micrófono en orientación vertical */
        margin-top: 150px;
    }

    #RF-space, #RNF-space {
        width: 100%; /* Ancho de los espacios de requisitos en orientación vertical */
        height: 100vw;
    }

    .edit-field {
        height: 150px; /* Ajusta este valor para cambiar la altura del campo de texto en orientación vertical */
    }
}
