<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>IR-Assistant</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="icon" href="static/microphone.png">
</head>
<body>

    <h1 class="header">IR-Assistant</h1>
    <div class="encapsule">
        <button class="icon" type="button" id="hola">
            <div id="micIcon">
                <img class="micro" src="static/microphone.png" alt="wasa">
                <img class="gif" src="static/loading.gif" alt="Cargando...">
            </div>
        </button>
    </div>
    <div id="text-box">
        <div id="RF-space">
            <h4 id="data1Display">Requisitos Funcionales</h4>
            <ul id="RF-list">

            </ul>
        </div>
        <div id="RNF-space">
            <h4 id="data2Display">Requisitos No Funcionales</h4>
            <ul id="RNF-list">

            </ul>
        </div>
    </div>
    <div id="text-box">
        <button onclick="exportToExcel()">Exportar Requisitos a Excel</button>
    </div>
    <script src="static/index.js"></script>


</body>
</html>
